U1/U1_T2/ej1.dtd

<!ELEMENT relacion (persona*)>
<!ELEMENT persona (nombre, email*, parentesco?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT parentesco (#PCDATA)>

<!ATTLIST persona sexo (hombre|mujer) #IMPLIED
            carnet CDATA #REQUIRED>
<!ATTLIST parentesco tipo CDATA #REQUIRED>